<br><br>
<footer> 
  <div class="container-fluid bg-primary text-center" style="width: 100%; color:white; ">
    <br>
    <h4>&copy; All right reserved by : empirestate</h4>
    <br>
  </div>
</footer>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> 

 <script>


var swiper = new Swiper(".sortMovies", {
    slidesPerView: 1.5,
    spaceBetween: 20,
    grabCursor: true,
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    breakpoints: {
          768: {
            slidesPerView: 3,
            spaceBetween: 20,
          },
          1024: {
            slidesPerView: 5,
            spaceBetween: 75,
          },
    },
});
</script> 

</body>
</html>