<%- include('../partials/header.ejs') %>

<!-- <div class="container-fluid reg-background">
    <% if ( error && error.length > 0 ) { %>
        <div class="alert alert-danger" role="alert" style="position: absolute; width: 100%;">
            <%= error %>
        </div>
    <% } %>
    
    <% if ( success && success.length > 0 ) { %>
        <div class="alert alert-success" role="alert" style="position: absolute; width: 100%;">
            <%= success %>
        </div>
    <% } %>
    <div class="container-fluid bg-dark pt-5" style="height: 100%; width: 1000px; text-align: center;">
        <img class="mt-5" width="30%" src="https://media.discordapp.net/attachments/718002735475064874/837953322866573332/Logo2x.png">
        <div class="container-fluid mt-5 mb-5" style="width: 450px;">
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="mt-3 btn btn-outline-light btn-lg" style="width:70%;">Login</button>
            </form>
            <p class="mt-4" style="color: white;">
                If you don't have any account <a href="/register">Register here..</a>
            </p>
            <a class="mt-5" href="/"><< Back to Home</a>
        </div>
    </div>
</div> -->

<link rel="stylesheet" href="stylesheets/login.css">
<div id="form" style="background-color: white; border-radius: 2%; margin-top: 10%; box-shadow: 0px 10px 10px rgb(184, 184, 184);">
    <div id="inside-form">
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link mx-3" href="/" style="text-transform: uppercase; font-weight: bolder; color: goldenrod;">EMPRISSED</a></li></ul> -->
        
            <center><h1 id="head" style=" margin-bottom: 8%; text-transform: uppercase; font-weight: bolder; color: goldenrod; padding-left: 4%;" >EMPRISSED</h1>
        <form action='/login'method="POST">
            <div class="mb-3">
               
                <input type="text" class="form-control"placeholder="Username" name="username">
            </div>
            
            <div class="mb-3">
               
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <button type="submit" class="mt-3 btn btn-outline-dark btn-lg" style="width:70%; margin-bottom: 3%; ">Login</button>
            
            <p>Don't have an account? <span><a href="/register" >Create account</a></span></p>
            
        </form>
    </center>
    </div>
</div>




