
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Ubuntu&display=swap');

/*   Pubilic   */
*{
    font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
}
body {
    background-color: #fdfdfd;
}

.footer {
    background-color: whitesmoke;
    left: 0;
    bottom: 0;
}

.reg-background {
    background-color: #ffffff;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

a {
    text-decoration: none;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}
.big-dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}
.num{
    font-family: 'Krona One', sans-serif;
    font-size: 150px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px goldenrod ;
    top:550px;
    margin-left: -300px;
    position: relative;

}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.v-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
/*   End of Public   */



/* Hover Nav-bar Dropdown */
.nav-item .genre-menu { 
    display: none !important; 
}

.nav-item:hover .genre-menu { 
    display: block !important; 
}
/* End of Hover Nav-bar Dropdown */



/*   Profile Dropdown   */
.dropdown-pull-right {
    float: right !important;
    right: 0;
    left: auto;
}

.dropdown-pull-right>.dropdown-menu {
    right: 0;
    left: auto;
}
/*   End of Profile Dropdown   */



/*   Movies   */
.swiper-container {
    background-color: transparent;
}

.rank-no {
    position: absolute;
    color: #ffffff;
    font-size: 65px;
    font-weight: bolder;
    /* text-shadow: 6px 6px #ffffff; */
    background-color: rgba(230, 95, 33, 0.849);
    border-radius: 50%;
    width: 100px;
    height: 10%;
}
/*   End of Movies   */



/*   Session   */
.sessionMoviesTemplate {
    display: inline-block;
    position: absolute;
}
.sessionTimeButton {
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    font-weight: bolder;
}
/*   End of Session   */



/*   Reserve   */
.desc {
    color: rgb(196, 196, 196);
}
.screen {
    height: 20px; 
    width: 800px; 
    background-color: rgb(0, 0, 0);
}
.seat {
    height: 60px;
    width: 60px;
}
.seat-button {
    background-color:transparent;
    border: none;
}
.seat-block {
    height: 500px;
    width: 300px;
    background-color: gray;
    position: relative;
}
.seat-submit {
    height: 50px;
    width: 200px;
    bottom: 0px;
    position: absolute;
}
/*   End of Session   */

.dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: hsl(0, 0%, 98%);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  .dropdown-content a {
    float: none;
    border-radius: 5px;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #333;
    color: #fff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }