<%- include('../partials/header.ejs') %>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body{
        background-color: whitesmoke;
    }
    input[placeholder], [placeholder], *[placeholder] {
    color: rgb(126, 126, 126) !important;
}
</style>
<div class="container-fluid " style="background-image: linear-gradient(to right, #459ced, #4ba3ee, #52aaef, #5ab0f0, #63b7f1, #65bef1, #6ac5f0, #71cbef, #78d2ec, #82d9e8, #8fdfe5, #9ee5e2); height:120px">
    <br>
    <center> <h5 style="color: white; text-transform: uppercase; font-weight: bold; font-size: 40px;">

        Create Cinema
    </h5>
    <p style="color: white; text-transform: uppercase; font-weight: bold;">|</p></center>
   

</div>


<center>
    
      <form class="w3-container w3-card-4  w3-white" action="/cinemas/new" method="POST" enctype="multipart/form-data" style="width: 80%; margin: 0px; padding: 50px;">
        <div class="w3-col mt-5">
          <div class="w3-section" style="width: 100%;">      
              <label style="float: left;">Name</label>
              <input class="w3-input" type="text"  name="cinema[name]" placeholder="Cinema's name"  required="required">
            </div>
            <div class="w3-section">      
              <label style="float: left;">Slogan</label>
              <input class="w3-input" type="text"  name="cinema[slogan]" placeholder="Cinema's Slogan"  required="required">
            </div>
            <div class="w3-section">      
              <label style="float: left;">Location</label>
              <input class="w3-input" type="text"  name="cinema[mapadd]" placeholder="Map Link"  required="required">
            </div>
       
            <div class="mb-5 mx-3">   
              <div class="mb-3">
                  <label class="form-label" style="color: rgb(0, 0, 0);float: left; font-size: larger;">Logo</label>
                  
                  <input type="file" class="form-control" name="logo" accept="image/*" style="margin-top: 20px; width: 90%; ">
              </div>    
              <h5 class="mb-3" style="color: rgb(0, 0, 0); float: left;">Media</h5>
                <div class="mb-3">
                   
                 
                    <input type="file" class="form-control" name="image" accept="image/*" style="margin-top: 20px; width: 90%; "required="required" >
                </div>
               
            </div>
            <div class="container-fluid" style="height: 100%; position: relative;">
              <button class="btn btn-outline-primary" type="submit" style="height: 50px; width: 100px; top: 15px;  ">Submit</button>
          </div>
        </div>
      </form>
   
  </center>




<%- include('../partials/footer.ejs') %>